<h1 class="title">{{site.timeline_title}}</h1>
<p class="subtitle">
  For more information, have a look at my
  <a class="highlight-link" href="{{site.cv_download_link}}" target="_blank" rel="noreferrer">
    Resume
  </a>.
</p>

<div class="timeline-wrapper">
  <ul class="timeline">
    {% for event in site.data.timeline %}
      {% if event.timeline-side == 'left' %}
        <li>
          <div class="direction-l" id="{{event.id}}">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
			  <span>{{event.date}}</span>
			  <h3>
                <a class="highlight-link" href="{{event.title-url}}" target="_blank" rel="noreferrer">
                  {{event.title}}
                </a>
			</h3>
            </div>
            <div class="desc neumorphism-card" data-aos="zoom-in-right">
              <h3>{{event.subtitle}}</h3>
			  {% if event.projects %}
			  <div class="tag-wrapper">
				{% for project in event.projects %}
					<span class="tag neumorphism-card">
						<a href="#{{ project.projectId }}">{{ project.projectName }}</a>
					</span>
				{% endfor %}
			  </div>
			{% endif %}
			{% if event.tags %}
			<div class="tag-wrapper">
				{% for tag in event.tags %}
				<span class="tag neumorphism-card">{{tag.tag}}</span>
				{% endfor %}
			</div>
			{% endif %}
            </div>
          </div>
        </li>
      {% endif %}

      {% if event.timeline-side == 'right' %}
        <li>
          <div class="direction-r" id="{{event.id}}">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
			  <h3>
                <a class="highlight-link" href="{{event.title-url}}" target="_blank" rel="noreferrer">
                  {{event.title}}
                </a>
			</h3>
              <span class="time-wrapper" data-aos="zoom-in-left">
                <span>{{event.date}}</span>
              </span>
            </div>
            <div class="desc neumorphism-card" data-aos="zoom-in-left">
			<h3>{{event.subtitle}}</h3>
			{% if event.projects %}
			<div class="tag-wrapper">
			  {% for project in event.projects %}
				  <span class="tag neumorphism-card">
					  <a href="#{{ project.projectId }}">{{ project.projectName }}</a>
				  </span>
			  {% endfor %}
			</div>
		  {% endif %}
              {% if event.tags %}
                <div class="tag-wrapper">
                  {% for tag in event.tags %}
                    <span class="tag neumorphism-card">{{tag.tag}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
